body {
  background-color: #CDF0EA;
}

.header {
  text-align: center;
  font-size: 300%;
  font-style: italic;
  text-indent: true;
  color: #8D2828;
}

.news p {
  color: #171010;
  text-align: center;
  font-style: italic;
  font-size: 200%;
}

th, td {
  padding: 1% 5% 1% 5%;
  width: 15%;
  text-align: left;
  font-size: 200%;
  font-style: arial;
  color: #01937C;
}
